
:root {
  /* Textos */
  --cor1: #ffffff;
  --cor2: #000000;
  --cor3: #00ff55;

  /* Background */
  --bc1: #000000 ;
  --bc2: #F2F9F4 ;
  --bc3: #FFFFFF ;
  --bc4: #42FF00 ;

  /* Detalhe */
  --d1: #00FF0A ;
}


.cor1 {
  color: var(--cor1);
}