@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");

/* Cores */
@import url(cores.css);

@import url(componentes.css);

@import url(cabecalho/cabecalho.css);

@import url(sobre/sobre.css);

@import url(marcas/marcas.css);
@import url(marcas/marca-lista.css);

@import url(cabecalho/menu.css);


@import url(serviços/servicos.css);
@import url(serviços/carrosel.css);
@import url(rodape/rodape.css);

body {
    font-family: "Poppins", sans-serif;
    color: var(--cor1);
    max-width: 480px;
    background-color: var(--bc1);
}

/* Sobre */

/* Sobre > imagem */
