@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");

/* Cores */
@import url(cores.css);

/*Utilitarios globais */
@import url(componentes.css);

/* Sessão Header */
@import url(Header/header.css);


/*Sessão Sobre */
@import url(About/about.css);


/* Sessão Marcas*/
@import url(Brands/brands.css);


/* Sessão Serviços*/
@import url(Services/services.css);

/* Sessão de Introdução */ 
@import url(Intro/intro.css);

/* Sessão Footer */
@import url(Footer/rodape.css);

body {
    font-family: "Poppins", sans-serif;
    color: var(--cor1);
    background-color: var(--bc1);
}

