@import url(carrosel.css); /* Carrossel animado */


/* Sessão de Serviços */
.services__bg { 
  background-color: var(--bc2);
  height: 50vh;
}


.services {
  padding-top: 17px;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}
