.principal_link {
    margin: 0 auto;
    width:  259px;
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
    padding: 9px 5px;
    background:  #00ff0a;
    border-radius: 13px;
    transition: 0.2s;
}
.principal_link:hover {
    transform: scale(1.2);
}
