
@import url(menu.css);

#header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: black;
  height: 85px;
  align-items: center;
}

.header__img {
  width: 45px;
}

