
#menu {
  display: block;
  position: absolute;
  width: 120px;
  height: 0;
  top: 80px;
  left: 62vw;
  background-color: var(--cor1);
  transition: 0.20s;
  visibility: hidden; /* esconde o menu */
  overflow: hidden; /* ajuste de bug do overflow*/
}

#nav.active #menu { /* quando a nav estiver com a class .active o menu vai aparecer */
  visibility: visible; /* faz o menu aparecer */
  overflow: auto;
  height: 130px;
}

.menu__item {
  text-align: center;
  margin-top: 19px;
  padding-left: 9px;
  padding-right: 9px;
}

.menu__link {
  color: var(--cor2);
  text-decoration: none;
  font-size: .875rem;

}

#btn-mobile { /* Botão  de ação do menu hamburguer */
  color: var(--bc4);
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

#hamburguer { /* Menu Hamburguer */
  display: block;
  width: 20px;
  border-top: 2px solid;
}

#hamburguer::after, #hamburguer::before { /* Hamburguer::after - Linha do meio e Hamburguer::before - linha de baixo */
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .4s;
  position:relative;
}

#nav.active #hamburguer { /* quando a nav estiver com a class .active a linha do meio vai desaparecer*/
  border-top-color: transparent;
}

#nav.active #hamburguer::before { /* quando a nav estiver com a class .active a primeira linha vai fazer uma rotação de 135deg*/
  transform: rotate(135deg);
}

#nav.active #hamburguer::after { /* quando a nav estiver com a class .active a ultima linha ira fazer  uma rotação de -135deg*/
  position: absolute;
  top: 40px;
  transform: rotate(-135deg);
}

@media (min-width:330px ) {
  #menu {
    left: 64vw;
  }
}

@media (min-width:330px ) {
  #menu {
    left: 65vw;
  }
}

@media (min-width:360px ) {
  #menu {
    left: 66vw;
  }
}

@media (min-width:380px ) {
  #menu {
    left: 68vw;
  }
}

@media (min-width:400px ) {
  #menu {
    left:70vw;
  }
}

@media (min-width:420px ) {
  #menu {
    left:71.1vw;
  }
}

@media (min-width:420px ) {
  #menu {
    left:72vw;
  }
}

@media (min-width:440px ) {
  #menu {
    left:72.5vw;
  }
}

@media (min-width:450px ) {
  #menu {
    left:73vw;
  }
}

