.footer_ig {
    position: relative;
    
  }
  
  .footer_ig::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100px;
      height: 100px;
      left: -45px;
      top:-1px;
      background-image: url(../../../pictures/icones/icone-instagram.png);
      background-repeat: no-repeat;
  }