.footer_email {
  position: relative;
}

.footer_email::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: -45px;
        top:-1px;
        background-image: url(../../../pictures/icones/Icone-email.png);
        background-repeat: no-repeat;
    }