.servicos_botao {
  padding: 5px;
  align-items: center;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 600px;
  font-size: 22px;
  color: white;
  width: 150px;
  height: 25px;
  background-color: black;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: -2.99px -3px #00ff0a;
  margin-top: 38px;
  transition: 0.2s;
}

.servicos_botao:hover{
  background-color: #00ff0a;
  box-shadow: -2.99px -3px black;
  color: black;
  font-weight: 600;
}
