/* Sem decoração no link */
.cabecalho_link {
  color: var(--cor1);
  text-decoration: none;
  position: relative;
}
/* Efeito de linha embaixo do Serviços e Contatos */
.cabecalho_link::after {
  content: "";
  width: 0px;
  height: 4px;
  display: block;
  background-color: var(--cor3);
  transition: 0.6s;
  position: absolute;
}
/* 100% das palavras */
.cabecalho_link:hover::after {
  width: 100%;
}


